.idea
.vscode

client/node_modules

terraform-aws/prod.local.tfvars
terraform-aws/my-key
terraform-aws/my-key.pub
terraform-aws/.terraform
terraform-aws/terraform.tfstate
terraform-aws/terraform.sfstate.backup
terraform-aws/.terraform.lock.hcl

*.pdf